{% extends "layout.html" %}
  {% block body %}

		<section class="ftco-section">
			<div class="container">
				<div class="row d-flex">
					<div class="col-md-5 order-md-last wrap-about align-items-stretch">
						<div class="wrap-about-border">
							<div class="img" style="background-image: url(static/images/insp.jpeg); border"></div>
							<div class="text">
								<h3>Read Our Success Story for Inspiration</h3>
								<p>Venture Soft has been built on the firm foundation of industry knowledge. Management has a proven track record of delivering results that exceed customer expectations, making this a winning combination. Our focus on the process improvement model, backed by superior technological infrastructure combined with professionally skilled manpower at the senior And middle management level and long term client relationships have enabled us to beat global competition in terms service delivery capabilities and low levels of attrition. We have developed methodologies, which enable us to deliver lower costs, greater R.O.I, increased operational efficiency, improved customer experience and significant quality improvements.</p>
							</div>
						</div>
					</div>
					<div class="col-md-7 wrap-about pr-md-4 ftco-animate">
          	<h2 class="mb-4">About Venture Soft PVT. LTD</h2>
						<p>A Dream! A Hope! A Wish! This is where all good things start and so was the start of Venture Soft. Venture Soft is formed to transform and integrate Information Technology business in the year 2003. It was started by a group of highly qualified technocrats with sound business acumen and strong technical skills having a collective experience of ten years of its directors.</p>
						<p>The company has achieved a series of successful projects in a short span of its working. The elevated quality and the reliability of services at Venture Soft in Call-center, transcription, software solution & consulting. Venture Soft is a group of young and enthusiastic Consulting professionals with a strong desire to stand apart and to earn recognition for positive and creative work.</p>
            <p>Our corporate commitment to integrity Venture Soft serves our staff the courage to do what is right, not expedient. The pursuit of excellence creates an entire Venture Soft, innovative climate. Intelligent solutions are identified everyday, by people thriving in Venture Soft.</p>
            <p>Unique corporate culture. Venture Soft is an IT major specializing in the design, development and execution of IT Solutions related to public and private sector organizations in the domestic and overseas market. development of IT-solution.</p>
					</div>
				</div>
			</div>
		</section>
	{% endblock %}