{% extends "layout.html" %}
  {% block body %}

    <section class="ftco-section">
			<div class="container">
				<div class="row">
          <div class="col-lg-8 ftco-animate">
            <h2 class="mb-3">Application Services</h2>
            <p>The modern business is completely Internet driven and stiff online competition makes it mandatory for every business to devise its strategy.We offers individuals or enterprises access to applications and related services over the internet also owns and operates the software applications,maintains the servers supporting the software,
            provides information to customers through the Internet or a thin client computer.
            The primary benefit of uses an Application Services are the cost savings associated with reduced demands on IT personnel in not having to deploy the software upon individual computers, of not having to mind the maintenance and patching associated that desktop software demands.</p>
            <p>
              <img src="static/images/service.png" alt="" class="img-fluid"></p>
		</section>	
  {% endblock %}