{% extends "layout.html" %}
  {% block body %}

    <section class="ftco-section">
			<div class="container">
				<div class="row">
          <div class="col-lg-8 ftco-animate">
            <h2 class="mb-3">Application Support</h2>
            <p>Venture Soft is strongly focused on creating customer oriented software applications. The development team minutely examines and analyses the existing IT processes of the clients. It does the gap analysis to ensure complete compatibility between existing system and custom developed application. The applications are designed, tested and deployed to complete satisfaction of the clients,providing technical support to teams within the organisation, and to external clients when required assisting with systems integrations,identifying and resolving technical issues,
            delivering regular and customised training to teams within the business</p>
            <p>
              <img src="static/images/support.jpg" alt="" class="img-fluid"></p>
		</section>	
  {% endblock %}