{% extends "layout.html" %}
  {% block body %}

    <section class="ftco-section">
			<div class="container">
				<div class="row">
          <div class="col-lg-8 ftco-animate">
            <h2 class="mb-3">Business Solutions</h2>
            <p>We are responsible for helping companies to overcome problems and improve operations. The specifics of their work can vary greatly, as they may work for a wide range of companies in a wide range of fields. These responsibilities could include anything from providing business models for small businesses, developing employee training for a company in the healthcare or service industry, or helping to streamline efficiency in a large corporation of any kind. These consultants may also be required to work in a variety of departments, including human resources, accounting, marketing, or management. This requires a vast knowledge of how a business runs and effective strategies for a variety of situations.</p>
            <p>
              <img src="static/images/image_2.jpg" alt="" class="img-fluid">
            </p>
            <p>Also work predominantly in an office during regular business hours. Their work requires frequent travel and interaction with clients, both in person and via telephone and email. They may also keep in regular contact with people from their own department. This includes collaborating with their project manager in planning and executing projects. </p>
		</section>	
  {% endblock %}