{% extends "layout.html" %}
  {% block body %}

    <section class="ftco-section">
			<div class="container">
				<div class="row">
          <div class="col-lg-8 ftco-animate">
            <h2 class="mb-3">Consulting</h2>
            <p>Our consulting services equip companies to quickly respond to engineering & technology initiatives by strategically acquiring skills and cost-effectively manage available resources. Our consulting services will not just help you in finding the most suitable skill sets, but also help in implementing it. We provide the best engineering and IT talent pool to assist you in every stage of design, implementation and management of solutions. Our consultants are well-versed in engineering, technology domains and business verticals. Be it further enhancing an existing infrastructure, or creating a solution from scratch, or even turning around low performing applications, our consultants can be employed to analyze, recommend and implement the best for you.</p>
            <p>
              <img src="static/images/const.jpg" alt="" class="img-fluid"></p>
		</section>	
  {% endblock %}