{% extends "layout.html" %}
  {% block body %}

    <section class="ftco-section">
			<div class="container">
				<div class="row">
          <div class="col-lg-8 ftco-animate">
            <h2 class="mb-3">HR Solutions</h2>
            <p>In the current situation, cost cutting is being focused across the Industry. Especially on the cost centre expenses like HR and back office costs are under high focus. HR Transformation focuses on changing the way in which HR functions operate, increasing its capabilities, in order to positively impact the productivity of the people while delivering tangible cost reduction. This can happen only when we have stringent process as well as good controls in the flow of work. Our experts would help you do that. The HR is often assessed as high cost centre and/or lacking capability. J.R. World Softtech Systems PVT. LTD can address HR values and capability by transforming client HR functions structurally, creating and enabling more strategic roles, and improving efficiency and effectiveness through improved tools, process and operations.</p>
            <p>
              <img src="static/images/hr.jpg" alt="" class="img-fluid"></p>
		</section>	
  {% endblock %}