{% extends "layout.html" %}
  {% block body %}
		<section class="ftco-section">
			<div class="container">
				<div class="row d-flex">
					<div class="col-md-5 order-md-last wrap-about align-items-stretch">
						<div class="wrap-about-border ftco-animate">
							<div class="img" style="background-image: url(static/images/about.jpg); border"></div>
							<div class="text">
								<h3>Greetings from Venture Softtech</h3>
								<p>Venture Softtech Systems PVT. LTD is a premier Human Resource Consulting firm with a vision to provide professional placement and talent search services to corporates. We have a strong credibility for offering exciting careers in MNC and reputed corporate houses at Bangalore.</p>
								<p>We are experts in HR staffing & recruitment needs for Entry, Mid & lateral level positions for our Client’s requirements for various locations in India & Overseas. Our ability to deliver profiles in a time bound manner has gained us a top precedence in our client’s place. Our areas of specialization include Information Technology, Finance, Banking, Telecom FMCG, Mechanical, Electrical and ITES. We have made our presence felt in domains of Business Development, Marketing, sales and other support functions internationally.</p>
							</div>
						</div>
					</div>
					<div class="col-md-7 wrap-about pr-md-4 ftco-animate">
          	<h2 class="mb-4">Our Main Vision</h2>
						<p>We are a professional, enthusiastic and innovative team, dedicated to providing professional HR Consulting Services and evolving Recruitment Solutions that help our customers become more productive and profitable.</p>
						<div class="row mt-5">
							<div class="col-lg-6">
								<div class="services active text-center">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-collaboration"></span></div>
									<div class="text media-body">
										<h3>Clients</h3>
										<p>Interact with customers to identify their business requirements. Develop business strategies to meet client needs. Provide client support services in timely, accurately and professional manner.</p>
									</div>
								</div>
								<div class="services text-center">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-analysis"></span></div>
									<div class="text media-body">
										<h3>Software Training</h3>
										<p>Training consultant responsibilities include identifying skills and knowledge gaps, developing instructional material and organizing learning activities.Ultimately, you will help our employees develop their skills and boost their job performance.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services text-center">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-search-engine"></span></div>
									<div class="text media-body">
										<h3>Career Growth</h3>
										<p>To increase operational efficiencies and productivity in sourcing segments (IT /ITES/Non IT) in a most reliable and secure manner.</p>
									</div>
								</div>
								<div class="services text-center">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-handshake"></span></div>
									<div class="text media-body">
										<h3>Business Solutions</h3>
										<p>The consultant responsibilities and duties coordinate with management to understand business problems and develop effective solutions. Recommend business strategies and ideas to achieve company revenue goals. Work with management to identify new business opportunities and write business cases.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="ftco-intro ftco-no-pb img" style="background-image: url(static/images/bg_3.jpg);">
    	<div class="container">
    		<div class="row justify-content-center mb-5">
          <div class="col-md-10 text-center heading-section heading-section-white ftco-animate">
            <h2 class="mb-0">You Always Get the Best Guidance</h2>
          </div>
        </div>	
    	</div>
    </section>

		<section class="ftco-counter" id="section-counter">
    	<div class="container">
    		<div class="row d-md-flex align-items-center justify-content-center">
    			<div class="wrapper">
    				<div class="row d-md-flex align-items-center">
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <h1>400+</h1>
		                <span>HAPPY CLIENTS</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <h1>100+</h1>
		                <span>NEW IDEAS</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <h1>25+</h1>
		                <span>SOFTWARE TRAINING</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <h1>80+</h1>
		                <span>SOFTWARE DEVELOPMENT</span>
		              </div>
		            </div>
		          </div>
	          </div>
          </div>
        </div>
    	</div>
    </section>

    <section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class="mb-4">Our Best Services</h2>
          </div>
        </div>
				<div class="row no-gutters">
					<div class="col-lg-4 d-flex">
						<div class="services-2 noborder-left text-center ftco-animate">
							<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-analysis"></span></div>
							<div class="text media-body">
								<a href="business.html"><h3>Business Solutions</h3></a>
								<p>Every Business has its own unique set of needs and requirements.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 d-flex">
						<div class="services-2 text-center ftco-animate">
						<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-business"></span></div>
							<div class="text media-body">
								<a href="staff.html"><h3>Staffing And Recruitment</h3></a>
								<p>Outsourcing IT staffing process has been a key success factor of winning software organizations.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 d-flex">
						<div class="services-2 text-center ftco-animate">
							<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-insurance"></span></div>
							<div class="text media-body">
								<a href="hrsolution.html"><h3>HR Solutions</h3></a>
								<p>In the current situation, cost cutting is being focused across the Industry. Especially on the cost</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 d-flex">
						<div class="services-2 noborder-left noborder-bottom text-center ftco-animate">
							<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-money"></span></div>
							<div class="text media-body">
								<a href="consulting.html"><h3>Consulting</h3></a>
								<p>Our consulting services equip companies to quickly respond to engineering & technology initiatives by strategically acquiring skills.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 d-flex">
						<div class="services-2 text-center noborder-bottom ftco-animate">
							<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-rating"></span></div>
							<div class="text media-body">
								<a href="applicationsupport.html"><h3>Application Support</h3></a>
								<p>Venture Soft is strongly focused on creating customer oriented software applications.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 d-flex">
						<div class="services-2 text-center noborder-bottom ftco-animate">
							<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-search-engine"></span></div>
							<div class="text media-body">
								<a href="applicationservice.html"><h3>Application Services</h3></a>
								<p>The modern business is completely Internet driven and stiff online competition makes it mandatory for every business to devise its strategy.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}
  