{% extends "layout.html" %}
  {% block body %}
  <br>
  <br>
  <h1 style="text-align:center">Our Clients</h1>
    <section class="ftco-section">
			<div class="container">
				<div class="row">
    			<div class="col-md-4">
    				<div class="project mb-4 img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(static/images/ibm.jpg);">
    				</div>
  				</div>

  				<div class="col-md-4">
    				<div class="project mb-4 img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(static/images/dell.jpg);">
    				</div>
  				</div>

    			<div class="col-md-4">
    				<div class="project mb-4 img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(static/images/hcl.jpg);">
    				</div>
    			</div>

					<div class="col-md-4">
    				<div class="project mb-4 img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(static/images/wipro1.jpg);">
    				</div>
  				</div>


  				<div class="col-md-4">
    				<div class="project mb-4 img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(static/images/acc.png);">
    				</div>
  				</div>

  				<div class="col-md-4">
    				<div class="project mb-4 img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(static/images/tech.jpg);">
    				</div>
  				</div>


  				<div class="col-md-4">
    				<div class="project mb-4 img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(static/images/hdfc.png);">
    				</div>
  				</div>


  				<div class="col-md-4">
    				<div class="project mb-4 img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(static/images/icic.jpeg);">
    				</div>
  				</div>


					<div class="col-md-4">
    				<div class="project mb-4 img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(static/images/kotak.png);">
  				</div>
    		</div>

        <div class="col-md-4">
            <div class="project mb-4 img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(static/images/mrf.png);">
            </div>
          </div>


          <div class="col-md-4">
            <div class="project mb-4 img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(static/images/cong.png);">
            </div>
          </div>


          <div class="col-md-4">
            <div class="project mb-4 img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(static/images/ril.jpg);">
            </div>
          </div>

			</div>
		</section>
   {% endblock %}