{% extends "layout.html" %}
  {% block body %}

    <section class="ftco-section">
			<div class="container">
				<div class="row">
          <div class="col-lg-8 ftco-animate">
            <h2 class="mb-3">Staffing And Recruitment</h2>
            <p>IT-staffing process includes various steps of collecting job profiles, fine-tuning the skills required. Finalizing the specs of resources, calling the resources and make them too. Our Team has ready skills to provide such an End to End support to your organization. We have conducted several walk-ins along with client representatives and turned around the result with higher hit rate. IT Consulting has been one of the best practices followed by all the software product manufacturers and service providers. We could provide you such consultants who bring in qualities and skills for your project and make sure of increased productivity.</p>
            <p>
              <img src="static/images/staff.jpg" alt="" class="img-fluid">
            </p>
            <p>Receiving requests from the human resources department for new job availability,Advertising job availability through online channels and other media,Interviewing potential job candidates,Communicating by phone, email, and in person with job candidates to figure out things like availability and hiring timelines and so on.</p>
		</section>	
  {% endblock %}